# Repo
coverage-badge
pybadges

# Styling
mypy==1.17.*
pylint==3.*
isort==5.*
black==24.*
mypy-zope==1.0.*
pre-commit==4.*

# Testing
pytest
virtualenv
pytest-cov==4.*
pytest-asyncio==0.23.5
selenium==4.35.*

# Mypy stubs
types-requests
types-beautifulsoup4==4.*
